windows/.vs/
windows/EasyRTC_Open/x64/
windows/EasyRTC-P2P/x64/
windows/x64/
android/.gradle/
build/
android/release/
.worktrees/

.DS_Store
.idea/
superpowers/
android/local.properties

.cxx
.settings
.classpath
.project

.cache/
android/easyrtc/src/main/cpp/toolchain-android.cmake
